.wrapper-blog-detail-event {
    position: relative;
    margin-top: -349px;

    @media (max-width: 768px) {
        margin-top: -102px;
    }

    .wrapper-info {
        @media (max-width: 768px) {
            margin-bottom: 0 !important;

            h5 {
                margin-bottom: 8px !important;
            }
        }
    }

    .main-title-mobile {
        @media (max-width: 768px) {
            margin-bottom: 32px !important;
        }
    }

    .wrapper-action-full{
        @media (max-width: 768px) {
            display: none !important;
        }
    }

    .row-split {
        @media (max-width: 768px) {
            display: none;
        }
    }
    .blog-detail-text {
        margin-bottom: 40px;
        padding-right: 36px;

        @media (max-width: 768px) {
            margin-bottom: 12px;
        }
    }

    .blog-detail-latest {
        padding-top: 130px !important;
        padding-bottom: 130px !important;

        @media (max-width: 768px) {
            padding-top: 60px !important;
            padding-bottom: 60px !important;
        }
    }
    .author-slide {
        color: $color__text-black-50;
        margin-left: 10px;
        margin-right: 30px;
        display: flex;
        white-space: nowrap;
        overflow: hidden;
        max-width: 220px;

        @media (max-width: 1024px) {
            max-width: initial;
        }
    }

    .item-cate-blog {
        color: $color__text-black-50;
        cursor: pointer;
        text-decoration: none;

        &::before {
            // content: ", "
        }

        &:first-child {
            &::before {
                content: '';
            }
        }

        &:hover {
            color: $color__primary-hover;
        }
    }

    .wrapper-only-mobile {
        display: block;

        .circle-split {
            display: none;
            align-items: center;
            padding: 40px 0 20px 0;
            .wrapper-left {
                width: 100%;

                .circle {
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                }
            }

            @media (max-width: 768px) {
                display: flex;
            }

        }

        a {
            display: none;
            width: 100%;

            @media (max-width: 768px) {
                display: flex;
            }
        }
    }

    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        
        li {
            padding: 0 4px;
        }
    }
}
