.wrapper-intro {
    background-color: $color__sub;
    width: 100%;
    position: relative;
    padding-top: 180px;
    overflow: hidden;

    @media (max-width: 768px) {
        padding-top: 137px;
    }

    .site-name {
        margin-bottom: 20px;
        color: $color__primary;

        @media (max-width: 768px) {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 14px;
        }
    }

    .main-title {
        color: $color__text-white;
        padding-bottom: 62px;
        border-bottom: 1px solid $color__border-header;

        @media (max-width: 768px) {
            padding-bottom: 40px;
        }
    }

    .logo-star-world {
        position: absolute;
        right: 0;
        top: 0;
        width: 488px;
        height: 467px;

        @media (max-width: 768px) {
            right: -100px;
            top: 30px;
            width: 339px;
            height: 324px;
        }
    }

    .wrapper-info {
        padding-top: 60px;
        padding-bottom: 340px;
        display: flex;
        justify-content: space-between;

        h5, h6 {
            color: $color__text-white;
        }

        .title-mobile {
            display: none;
        }

        .wrapper-content {
            max-width: 468px;
            margin-left: 20%;

            .content {
                color: $color__text-05;
                margin-top: 0;
                margin-bottom: 32px;
            }
        }

        .qr-code {
            border: 1px solid $color__border-header;
            padding: 15px 15px 12px 15px;
            height: fit-content;
            margin-left: 11%;

            img {
                min-height: 137px;
                min-width: 137px;
            }

            .scan-code {
                color: $color__text-05;
                text-align: center;
                margin: 12px 0 0 0;
            }
        }
        
        @media (max-width: 1024px) {
            flex-direction: column;
            padding-bottom: 240px;

            .wrapper-content {
                margin-left: 0;
                margin-bottom: 60px;
            }

            .qr-code {
                margin-left: 0;
                width: fit-content;
            }

            .title-mobile {
                display: block;
                margin-bottom: 18px;
            }

            .title {
                display: none;
            }
        }

        @media (max-width: 768px) {
            padding-bottom: 130px;
            padding-top: 32px;

            .wrapper-content {
                .content {
                    margin-bottom: 24px;
                }
            }

            .qr-code {
                margin: auto;
            }
        }
    }
}

.wrapper-video {
    margin-top: -250px;
    position: relative;
    z-index: 1;

    .icon-play {
        width: 110px;
        height: 110px !important;
        padding: 26px 13px 20px 20px;
        
        @media (max-width: 768px) {
            width: 60px;
            height: 60px !important;
            padding: 20px 16px 20px 20px;
        }
    }

    &.playing {
        .btn-play {
            z-index: 0;
            opacity: 0;
        }

        #video {
            cursor: pointer;
        }
    }

    video {
        object-fit: cover;
        aspect-ratio: 1166/655;

        @media (max-width: 480px) {
            aspect-ratio: 335/188;
        }
    }
    @supports not (aspect-ratio: 1166/655) {
        video::before {
            float: left;
            padding-top: 100%;
            content: "";
        }

        video::after {
            display: block;
            content: "";
            clear: both;
        }
    }
    @media (max-width: 480px) {
        @supports not (aspect-ratio: 335/188) {
            video::before {
                float: left;
                padding-top: 100%;
                content: "";
            }
    
            video::after {
                display: block;
                content: "";
                clear: both;
            }
        }
    }

    .btn-play {
        z-index: 1;
        
        img {
            width: 41px;
            height: 41px;

            @media (max-width: 768px) {
                width: 22px;
                height: 22px !important;
            }
        }
    }

    @media (max-width: 1024px) {
        margin-top: -180px;
    }

    @media (max-width: 768px) {
        margin-top: -70px;
    }
}
