.wrapper-speaker-consultancy {
    position: relative;

    img {
        width: 100%;
        height: 751px !important;
        object-fit: cover;

        @media (max-width: 768px) {
            height: 100% !important;    
        }
    }

    .wrapper {
        @media (max-width: 768px) {
            padding: 0;
        }
    }
    .wrapper-consultancy {
        width: 604px;
        position: absolute;
        background-color: $color__background-button;
        bottom: -119px;
        margin-left: -144px;
        z-index: 10;

        @media (max-width: 768px) {
            position: unset;
            width: 100%;
            margin-top: -7px;
            margin-left: 0;
        }

        .wrapper-content {
            padding: 45px 78px 57px 136px;

            @media (max-width: 768px) {
                padding: 45px 20px 57px 20px;
            }
            
            h2 {
                width: 75%;
                color: $color__secondary;
            }

            p {
                color: $color__secondary;
                margin: 0;
                padding: 20px 0 40px 0;
            }
        }
    }
}