.wrapper-terms-banner {
    background-color: $color__secondary;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    padding: 192px 0 232px;
    z-index: 2;

    h2 {
        color: $color__primary;
    }

    @media (max-width: 768px) {
        padding: 120px 0 378px;
    }
}